@font-face {
    font-family: "star-wars-hollow";
    src: url(/starwars/resources/Starjhol.ttf);
}

@font-face {
    font-family: "distant-galaxy";
    src: url(/starwars/resources/SFDistantGalaxy.ttf);
}

/* font-family: 'Roboto', sans-serif; */

header {
    display: flex;
    align-items: center;
    align-content: center;
}

.back-to {
    color: white;
    position: fixed;
    top: 1rem;
    font-family: 'distant-galaxy';
}

.back-to:hover {
color: #b4b4b4;
}

div.filter-div {
    width: 35%;
    float: left;
    margin-top: 4rem;
    position: fixed;
    height: 100vh;
    bottom: -2rem;
    left: 1rem;
}

.hidden {
    display: none;
}

button {
    color: rgb(202, 202, 74);
    background-color: rgba(202, 202, 74, 0);
    border: 4px solid rgb(202, 202, 74);
    border-radius: 20%;
    margin: 1rem;
    font-size: 1.2rem;
    font-family: "distant-galaxy";
    padding: .2rem;
    width: 33%;
    height: 3.1rem;
}

button:visited {
    background-color: rgb(202, 202, 74);
    color: rgba(202, 202, 74, 0);
}

button:focus {
    outline: none;
}

button:hover {
    background-color: rgb(202, 202, 74);
    color: black;
}

button.active {
    background-color: rgb(202, 202, 74);
    color: black;
}

div.filter-div button {
    width: 25%;
    font-size: .9rem;
    height: 50px;
}

body {
    background-image: url(../resources/stars.jpg); /* Photo by Francesco Ungaro from Pexels */
    background-attachment: fixed;
    font-size: 18px;
    font-family: 'star-wars-hollow';
    color: rgb(202, 202, 74);
    letter-spacing: 3px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 100%));
    grid-gap: 1rem;
    margin: 4rem 2rem;
    float: right;
    width: 60%;
}

.planetPic {
    width: 275px;
    border: 2px solid rgb(202, 202, 74);
}

.planetDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: .5rem .2rem;
    width: 100%;
    border: 2px yellow solid;
}

.planet-info-div {
    float: right;
    color: rgb(202, 202, 74);
    background-color: orange;
}

h3 {
    color: rgb(202, 202, 74);
    font-family: "star-wars-hollow";
    font-size: 2rem;
    margin: 0;
    width: 100%;
    text-align: center;
}

p {
    color: rgb(202, 202, 74);
    font-family: "distant-galaxy";
    font-size: 1rem;
    margin: 0;
    padding-bottom: .5rem;
}