@font-face {
    font-family: "star-wars-hollow";
    src: url(resources/Starjhol.ttf);
}

@font-face {
    font-family: "distant-galaxy";
    src: url(resources/SFDistantGalaxy.ttf);
}

body {
    background-image: url(resources/stars.jpg); /* Photo by Francesco Ungaro from Pexels */
    background-attachment: fixed;
    font-size: 18px;
}

header {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 100vh;
}

button {
    color: rgb(202, 202, 74);
    width: 25%;
    background-color: rgba(202, 202, 74, 0);
    border: 4px solid rgb(202, 202, 74);
    border-radius: 20%;
    margin: 3rem;
    font-size: 2rem;
    font-family: "distant-galaxy";
    padding: 1rem;
}

button:visited {
    background-color: rgb(202, 202, 74);
    color: rgba(202, 202, 74, 0);
}

button:focus {
    outline: none;
}

button:hover {
    background-color: rgb(202, 202, 74);
    color: black;
}