@font-face {
    font-family: "star-wars-hollow";
    src: url(../resources/Starjhol.ttf);
}

@font-face {
    font-family: "distant-galaxy";
    src: url(../resources/SFDistantGalaxy.ttf);
}

header {
    display: flex;
    align-items: center;
    align-content: center;
}

button {
    color: rgb(202, 202, 74);
    background-color: rgba(202, 202, 74, 0);
    border: 4px solid rgb(202, 202, 74);
    border-radius: 20%;
    margin: 1rem;
    font-size: 1.2rem;
    font-family: "distant-galaxy";
    padding: .2rem;
    width: 33%;
    height: 3.1rem;
}

button:visited {
    background-color: rgb(202, 202, 74);
    color: rgba(202, 202, 74, 0);
}

button:focus {
    outline: none;
}

button:hover {
    background-color: rgb(202, 202, 74);
    color: black;
}

button.active {
    background-color: rgb(202, 202, 74);
    color: black;
}

.filterButtonDiv {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 4rem;
    justify-content: center;
}

button.filterButton {
    color: black;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    margin: 1rem;
    font-size: 1rem;
    font-family: "distant-galaxy";
    padding: .2rem;
    width: 20%;
    height: 2rem;
}

button.filterButton:hover {
    color: whitesmoke;
    background-color: black;
    border: 2px solid whitesmoke;
}

body {
    background-image: url(../resources/stars.jpg); /* Photo by Francesco Ungaro from Pexels */
    background-attachment: fixed;
    font-size: 18px;
}

.peopleGridDiv {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding: .5rem 2rem 4rem 2rem;
}

main {
    display: flex;
    flex-direction: column;
}

h3 {
    color: rgb(202, 202, 74);
    font-family: "star-wars-hollow";
    font-size: 1.5rem;
    margin: 0;
    width: 100%;
    text-align: center;
}

p {
    color: rgb(202, 202, 74);
    font-family: "distant-galaxy";
    font-size: 1rem;
    margin: 0;
    padding-bottom: .5rem;
}

.picDivs {
    width: 275px;
    border-radius: 10px;
}

.charDivs {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    background-color: black;
    padding-bottom: 1rem;
}
