@font-face {
    font-family: "star-wars-hollow";
    src: url(../resources/Starjhol.ttf);
}

@font-face {
    font-family: "distant-galaxy";
    src: url(../resources/SFDistantGalaxy.ttf);
}

body {
    background-image: url(../resources/stars.jpg); /* Photo by Francesco Ungaro from Pexels */
    background-attachment: fixed;
    font-size: 18px;
}

header {
    display: flex;
    align-items: center;
    align-content: center;
}

button {
    color: rgb(202, 202, 74);
    background-color: rgba(202, 202, 74, 0);
    border: 4px solid rgb(202, 202, 74);
    border-radius: 20%;
    margin: 1rem;
    font-size: 1.2rem;
    font-family: "distant-galaxy";
    padding: .2rem;
    width: 33%;
    height: 3.1rem;
}

button:visited {
    background-color: rgb(202, 202, 74);
    color: rgba(202, 202, 74, 0);
}

button:focus {
    outline: none;
}

button:hover {
    background-color: rgb(202, 202, 74);
    color: black;
}

button.active {
    background-color: rgb(202, 202, 74);
    color: black;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.filmDiv {
    text-align: center;
}

h1.filmTitle {
    color: rgb(202, 202, 74);
    font-family: "star-wars-hollow";
    font-size: 4rem;
}

p.filmCrawl {
    color: rgb(202, 202, 74);
    font-family: "distant-galaxy";
    font-size: 2rem;
    line-height: 1.5;
    max-width: 50%;
    padding: 0 25%;
}